{% extends 'layout.html' %}

{% block title %}

{{user.username}} - Orders

{% endblock title %}

{% block content %}
{% if orders %}


<table class="table">
  <thead class="table-dark">
    <tr>
    <td>Product Name</td>  
    <td>Amount</td>  
    <td>Total Price</td>  
    <td>Created Date</td>  
    <td>Status</td>
    <td>Delete</td>
    </tr>
  </thead>
  <tbody>
    {% for order in orders  %}
      <tr>
        <td>
          {% if order.edit %}
          <a href="{% url 'orders:update' order.id %}" class="text-success">            
            {{order.product.name}}
          </a>
          {% else %}
          <strong>
            {{order.product.name}}
          </strong>
          {% endif %}

        </td>
        <td>{{order.amount }}</td>
        <td>${{order.total_price}}</td>
        <td>{{order.created_time|date:"Y-m-d"}}</td>
        <td>{{order.get_status_display}}</td>

        <td>
          {% comment %} Check if the order can be deleted {% endcomment %}
          {% if order.edit %}
          <form action="." method="POST">
            <button type="submit" class="btn btn-danger" value="{{order.id}}" name="order_id">Delete</button>
            {% csrf_token %}
          </form>
          {% endif %}
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>



{% else %}
<h1 class="center">
No Orders Yet 
</h1>
<a href="{% url 'home' %}"class="btn btn-success">Back To Home</a>
{% endif %}

{% endblock content %}